html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{font-size:16px;}
body {
    line-height: 1.3;
    font-family:usual, sans-serif;
    font-weight:300;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Reset */

/* Colours*/
:root {
    --body-grad:radial-gradient(#321625,#1a1317);
    --body-bg:#ffe;
    --body:#ffffff;
    --faded:#dedede;
    --content-bg:#00000022;
    --footer-bg:#ffffff0f;
    --reverse:#abc;
    --logo:#cc5aa5;
    --link:#45C6CC;
    --link-hover:#88D1D5;
    --link-visited:#A050CC;
    --accent-bg:#999;
    --accent:#922;
    --code-bg:#111;
    --code:#dfd;
}
body {
    background:var(--body-bg);
    background:var(--body-grad);
}
/* End of Colours */

h1, h2, h3, p, ul, ol {
    margin:0.25em 0 0.75em;
    color:var(--body);
}
pre {
    margin:0.25em 0 0.75em;
}
h1,h2,h3 {
    font-family:roboto-slab, serif;
    font-weight:700;
}
h1 {font-size:2em;}
h2 {font-size:1.6em;}
h3 {font-size:1.3em;}
p {line-height:1.3;}
p strong {font-weight:600;}
p em {font-style:italic;font-weight:400;}
a {color:var(--link);}
a:hover{color:var(--link-hover);}
a:visited{color:var(--link-visited);}
ul, ol {margin-left:2em;}
ul {list-style-type:disc;}
ol {list-style-type:lower-roman;}
.site-id a, .site-id a:visited, .site-id a:active {
    color:var(--logo);
    text-shadow:0.01em 0.01em 0.04em var(--accent);
    font-size:5em;
    font-family:timberline, cursive;
    text-decoration:none;
}
.site-id a:hover {
    text-shadow:0.01em 0.01em 0.18em var(--accent);
}
.site-id {text-align:center;}
nav {
    background:var(--footer-bg);
    text-align:center;
    padding:1rem 0;
    margin:1rem 0;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
}
nav ul li a, nav ul li a:visited {
    color:var(--link);
    text-decoration:none;
    font-family:roboto-slab, sans-serif;
    padding:0 1em;
}
nav ul li a:hover {color:var(--link-hover);}
.crumbs a, .crumbs a.visited {
    color:var(--link);
    text-decoration:none;
}
blockquote {
    display: block;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color:var(--accent);
    padding: 1.5em 2em 0.5em ;
    margin: 1.5em 4em;
    position: relative;
}
blockquote:before {
    content: '\201C';
    position:absolute;
    top: 0;
    left:-2rem;
    background:var(--accent);
    width: 2rem;
    height: 2rem;
    font-family: gastromond, serif;
    font-size: 2em;
    color:var(--light);
    text-align: center;
}
blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color:var(--accent-2);
}
.content {
    width: 80vw;
    margin: 0 auto 2rem;
    max-width: 60rem;
    background: var(--content-bg);
    padding: 1rem 4rem;
}
.meta {
    font-size:0.8em;
    color:var(--faded);
}

code {font-family:lft-etica-mono, monospace;}

pre {padding:1em 2em;}
footer {
    text-align:center;
    background:var(--footer-bg);
    font-size:0.8em;
    padding:2em;
}
.pagination > div {
    display:inline-block;
    width:40%;
}
