{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div class="listing">
  <section class="crumbs">
    &raquo;&nbsp;<a href="/">home</a>
    &raquo;&nbsp;<span class="current">blog</span>
    <h1>the blog</h1>
  </section>
  {% for page in paginator.pages %}
  {{ macros::blogbit(page=page) }}
  {% endfor %}
</div>

<section class="pagination">
  {% if paginator.previous %}
  <a href="{{ paginator.previous }}" class="inline-nav">← newer</a>
  {% else %}
  <a href="/" class="inline-nav">← home</a>
  {% endif %}
  {% if paginator.next %}
  <a href="{{ paginator.next }}" class="inline-nav">older →</a>
  {% else %}
  <a href="/photos/" class="inline-nav">photos →</a>
  {% endif %}
</section>
{% endblock content %}
