{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<section class="crumbs">
  &raquo;&nbsp;
  <a href="/">home</a>
  &raquo;&nbsp;
  <h2>blog</h2>
</section>

{% for page in paginator.pages %}
{{ macros::blogbit(page=page) }}
{% endfor %}

<section class="pagination">
  <div class="newer">
    {% if paginator.previous %}
    <a href="{{ paginator.previous }}">← newer</a>
    {% else %}
    <span>no newer</span>
    {% endif %}
  </div>
  <div class="older">
    {% if paginator.next %}
    <a href="{{ paginator.next }}">older →</i></a>
    {% else %}
    <span>no older</span>&
    {% endif %}
  </div>
</section>

{% endblock content %}
