{% extends "base.html" %}

{% block content %}
<p class="crumbs">
  &raquo;&nbsp;
  <a href="/">home</a>
  &raquo;&nbsp;
  <a href="/blog">blog</a>
</p>

<h1>{{ section.title }}</h1>
{% for page in paginator.pages %}
<article>
  <h2>{{page.title}}</h2>
  {{ page.summary | safe }}
  <a href="{{ page.permalink | safe}}">read more</a>
</article>

{% endfor %}
<section class="pagination">
  <div class="previous">
    {% if paginator.previous %}
    <a href="{{ paginator.previous }}" class="button big"><i class="fao fa-chevron-double-left"></i> Newer Posts</a>
    {% else %}
    <a href="#" class="disabled button big">Latest Posts</a>
    {% endif %}
  </div>
  <div class="next">
    {% if paginator.next %}
    <a href="{{ paginator.next }}" class="button big">Older Posts <i class="fao fa-chevron-double-right"></i></a>
    {% else %}
    <a href="#" class="disabled button big">Oldest Posts</a>
    {% endif %}
  </div>
</section>

{% endblock content %}
