{% extends "base.html" %}
{% block content %}
<div class="entry">
  <section class="crumbs">
    &raquo;&nbsp;<a href="/">home</a>
    &raquo;&nbsp;<a href="/blog">blog</a>
    &raquo;&nbsp;{{ page.slug }}
    <h1 class="title">
      {{ page.title }}
    </h1>
  </section>
  <div class="meta">
    Posted <strong>{{ page.date }}</strong></em>
    <span class="tags">
      Tags:
      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
        <a href='{{ get_taxonomy_url(kind="tags", name=tag) }}'>{{ tag }}</a>
        <span class="separator">,&nbsp;</span>
        {% endfor %}
      {% else %}
      None
      {% endif %}
    </span>
  </div>
  {{ page.content | safe }}
</div>
<section class="pagination">
  {% if page.later %}
  <a href="{{ page.later.permalink }}" class="inline-nav">← newer</a>
  {% else %}
  <a href="/" class="inline-nav">← home</a>
  {% endif %}
  {% if page.earlier %}
  <a href="{{ page.earlier.permalink }}" class="inline-nav">older →</a>
  {% else %}
  <a href="/photos/" class="inline-nav">photos →</a>
  {% endif %}
</section>
{% endblock content %}
