{% extends "base.html" %}

{% block content %}
<section class="crumbs">
  &raquo;&nbsp;
  <a href="/">home</a>
  &raquo;&nbsp;
  <a href="/photos">photos</a>
  &raquo;&nbsp;
  <span class="current">{{ page.slug }}</span>
</section>
<h1 class="title">
  {{ page.title }}
</h1>
<div class="meta">
  Posted <strong>{{ page.date }}</strong></em>
  <span class="tags">
    Albums:
    {% if page.taxonomies.albums %}
      {% for album in page.taxonomies.albums %}
      <a href="{{ get_taxonomy_url(kind='albums', name=album) }}">{{ album }}</a>
      <span class="separator">,&nbsp;</span>
      {% endfor %}
    </ul>
    {% else %}
    None
    {% endif %}
  </span>
</div>

{% if page.extra.photo %}

{% set path = "../static" ~ page.extra.photo %}
{% set class = "feature" %}
{% set width = 768 %}
{% set image = resize_image(path=path, width=width, op='fit_width') %}
<div class="image {{ class }}">
  <img
          src="{{ image.url }}"
          {% if page.extra.alt %}
          alt="{{ page.extra.alt }}"
          {% elif page.description %}
          alt="{{page.description}}"
          {% else %}
          alt="{{page.title}}"
          {%endif%}
          title="{{ page.description }}"
  />
  <span class="source">
        <a href="{{ page.extra.photo }}">original</a>
    </span>
</div>

{% endif %}

{{ page.content | safe }}


<section class="pagination">
  <div class="newer">
    {% if page.later %}
    <a href="{{ page.later.permalink }}">← newer</a>
    {% elif page.title_prev %}
    <a href="{{ page.title_prev.permalink }}">Previous</a>
    {% else %}
    <span>no newer</span>
    {% endif %}
  </div>
  <div class="older">
    {% if page.earlier %}
    <a href="{{ page.earlier.permalink }}">older →</a>
    {% elif page.title_next %}
    <a href="{{ page.title_next.permalink }}">Next</a>
    {% else %}
    <span>no older</span>
    {% endif %}
  </div>

</section>


{% endblock content %}
